* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: regularpro;
  src: url(/assets/fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: semiboldpro;
  src: url(/assets/fonts/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: boldpro;
  src: url(/assets/fonts/SourceSansPro-Bold.ttf);
}
.activeborder {
  border-bottom: 1px solid #7C7C7C;
}

.activecoloredborder {
  border-bottom: 1px solid #FF6400;
}

.activeborder360 {
  border: 1px solid #FF6400 !important;
}

.activedot {
  background-color: #FF6400 !important;
}

#scrollbar::-webkit-scrollbar {
  width: 5px;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: #FF6400;
}

body {
  background-image: url(https://online.unibank.az/ibank/resources/imgs/icons/bg-login.png);
}
body header {
  width: 80%;
  margin: auto;
}
body header .allside {
  padding-top: 5rem;
}
body header .allside .langside a {
  text-decoration: none;
  color: #7C7C7C;
  font-size: 14px;
  font-family: semiboldpro;
  margin-left: 0.2rem;
  padding: 4px;
  transition: 0.5s;
}
body header .allside .langside a:hover {
  background-color: #000000;
}
body main section .commonpage {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 1rem auto 5rem;
}
body main section .commonpage .leftpage {
  width: 50%;
}
body main section .commonpage .leftpage .bankingpage .bannerpage .banner {
  background-color: #F8F8F8;
  border-radius: 5px;
  padding: 5rem;
  box-shadow: 10px 10px 33px 0 rgba(0, 0, 0, 0.15);
}
body main section .commonpage .leftpage .bankingpage .bannerpage .banner .bannerimg {
  width: 100%;
  height: 250px;
}
body main section .commonpage .leftpage .bankingpage .bannerpage .banner .bannerimg img {
  width: 100%;
  box-shadow: 10px 10px 33px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
body main section .commonpage .leftpage .bankingpage .bannerpage .banner .context {
  margin-top: 2rem;
  height: 200px;
}
body main section .commonpage .leftpage .bankingpage .bannerpage .banner .context h4 {
  color: #3E3E3E;
  font-size: 20px;
  font-family: boldpro;
}
body main section .commonpage .leftpage .bankingpage .bannerpage .banner .context p {
  color: #9B9B9B;
  font-size: 16px;
  font-family: regularpro;
}
body main section .commonpage .leftpage .changer {
  background-color: #F8F8F8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 5rem;
}
body main section .commonpage .leftpage .changer span {
  padding: 8px;
  background-color: rgba(175, 168, 168, 0.55);
  border-radius: 100%;
  margin: 0 0.1rem;
  cursor: pointer;
}
body main section .commonpage .rightpage {
  width: 50%;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 5rem 3rem;
}
body main section .commonpage .rightpage h3 span {
  font-size: 18px;
  color: #3F3F3F;
  font-family: boldpro;
}
body main section .commonpage .rightpage h3 a {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-family: semiboldpro;
  border-bottom: 1px solid #000000;
}
body main section .commonpage .rightpage .logparams {
  display: flex;
  justify-content: space-between;
}
body main section .commonpage .rightpage .logparams .left {
  width: 100%;
}
body main section .commonpage .rightpage .logparams .left img {
  width: 100%;
}
body main section .commonpage .rightpage .logparams .right {
  padding: 1rem 0;
}
body main section .commonpage .rightpage .logparams .right button {
  display: block;
  width: 100%;
  height: 60px;
  margin: 1rem 0;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
body main section .commonpage .rightpage .logparams .right button i {
  font-size: 24px;
  margin-right: 1rem;
  color: #7C7C7C;
}
body main section .commonpage .rightpage .logparams .right button span {
  font-size: 18px;
  color: #000000;
  font-family: regularpro;
}
body main section .commonpage .rightpage p {
  margin-top: 1rem;
  padding: 5px 20px;
  background-color: #F3F3F3;
}
body main section .commonpage .rightpage p i {
  margin-right: 10px;
  color: #808080;
  cursor: pointer;
}
body main section .commonpage .rightpage p span {
  font-size: 16px;
  font-family: regularpro;
  color: #808080;
}
body main section .commonpage .rightpage form {
  position: relative;
  margin-top: 2rem;
}
body main section .commonpage .rightpage form input {
  width: 100%;
  outline-style: none;
  font-size: 18px;
  color: #6F6F6F;
  font-family: regularpro;
  border: none;
  padding: 0.5rem 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
body main section .commonpage .rightpage form span {
  font-size: 14px;
  font-family: regularpro;
  margin-left: 2rem;
  color: #FF6400;
}
body main section .commonpage .rightpage form .code {
  width: 50%;
  padding: 0.3rem 4rem;
  position: absolute;
  top: 100%;
  left: 0;
}
body main section .commonpage .rightpage form .user {
  position: absolute;
  top: 25%;
  left: 2%;
  font-size: 22px;
  color: #808080;
}
body main section .commonpage .rightpage form .warning {
  position: absolute;
  top: 25%;
  left: 95%;
  font-size: 22px;
  color: #808080;
}
body main section .commonpage .rightpage form .lock {
  position: absolute;
  top: 67%;
  left: 2%;
  font-size: 22px;
  color: #808080;
}
body main section .commonpage .rightpage form .pin {
  position: absolute;
  top: 105%;
  left: 0;
  z-index: 1;
}
body main section .commonpage .rightpage form a {
  font-size: 14px;
  color: #808080;
  position: absolute;
  top: 110%;
  left: 73%;
}
body main section .commonpage .rightpage form button {
  width: 100%;
  background-color: #FF6400;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #FF6400;
  position: absolute;
  top: 145%;
  left: 0;
  text-align: start;
}
body main section .commonpage .rightpage form button .enterance {
  color: #FFFFFF;
  font-size: 20px;
  font-family: regularpro;
}
body main section .commonpage .rightpage form button i {
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 90%;
}

@media (max-width: 576px) {
  header {
    width: 90% !important;
  }
  main section .commonpage {
    width: 90% !important;
  }
  main section .commonpage .leftpage .bankingpage .bannerpage .banner {
    padding: 5rem 2rem !important;
  }
  main section .commonpage .leftpage .bankingpage .bannerpage .banner .bannerimg {
    height: 150px !important;
  }
  main section .commonpage .leftpage .bankingpage .bannerpage .banner .context h4 {
    font-size: 16px !important;
  }
  main section .commonpage .leftpage .bankingpage .bannerpage .banner .context p {
    font-size: 14px !important;
  }
  main section .commonpage .rightpage {
    padding: 5rem 1rem !important;
  }
  main section .commonpage .rightpage h3 span {
    font-size: 14px !important;
  }
  main section .commonpage .rightpage h3 a {
    font-size: 14px !important;
  }
  main section .commonpage .rightpage .logparams .left {
    width: 100% !important;
  }
  main section .commonpage .rightpage .logparams .left img {
    width: 120% !important;
  }
  main section .commonpage .rightpage .logparams .right {
    padding: 0.5rem 0 !important;
  }
  main section .commonpage .rightpage .logparams .right button {
    height: 40px !important;
    margin: 0.5rem !important;
  }
  main section .commonpage .rightpage .logparams .right button i {
    font-size: 18px !important;
    margin-right: 0.5rem !important;
  }
  main section .commonpage .rightpage .logparams .right button span {
    font-size: 14px !important;
  }
  main section .commonpage .rightpage p {
    padding: 5px !important;
  }
  main section .commonpage .rightpage p i {
    margin-right: 5px !important;
  }
  main section .commonpage .rightpage p span {
    font-size: 11px !important;
  }
  main section .commonpage .rightpage form {
    margin-top: 1rem !important;
  }
  main section .commonpage .rightpage form span {
    font-size: 12px !important;
  }
  main section .commonpage .rightpage form input {
    font-size: 14px !important;
  }
  main section .commonpage .rightpage form .code {
    width: 60% !important;
  }
  main section .commonpage .rightpage form .user {
    font-size: 18px !important;
  }
  main section .commonpage .rightpage form .warning {
    font-size: 18px !important;
    left: 92% !important;
  }
  main section .commonpage .rightpage form .lock {
    font-size: 18px !important;
  }
  main section .commonpage .rightpage form a {
    font-size: 12px !important;
    top: 105% !important;
    text-align: center;
  }
  main section .commonpage .rightpage form button {
    width: 150px !important;
    margin-left: 2.2rem !important;
    margin-top: 1rem !important;
  }
  main section .commonpage .rightpage form button .enterance {
    font-size: 14px !important;
  }
  main section .commonpage .rightpage form button i {
    font-size: 12px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    left: 80% !important;
  }
}/*# sourceMappingURL=banking.css.map */