*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: regularpro;
    src: url(/assets/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: semiboldpro;
    src: url(/assets/fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: boldpro;
    src: url(/assets/fonts/SourceSansPro-Bold.ttf);
}

.activeborder{
    border-bottom: 1px solid #7C7C7C;
}

.activecoloredborder{
    border-bottom: 1px solid #FF6400;
}

.activeborder360{
    border: 1px solid #FF6400 !important;
}

.activedot{
    background-color: #FF6400 !important;
}

#scrollbar::-webkit-scrollbar{
    width: 5px;
}

#scrollbar::-webkit-scrollbar-thumb{
    background-color: #FF6400;
}

body{
    background-image: url(https://online.unibank.az/ibank/resources/imgs/icons/bg-login.png);

    header{
        width: 80%;
        margin: auto;

        .allside{
            padding-top: 5rem;

            .langside{
                a{
                    text-decoration: none;
                    color: #7C7C7C;
                    font-size: 14px;
                    font-family: semiboldpro;
                    margin-left: 0.2rem;
                    padding: 4px;
                    transition: 0.5s;
    
                    &:hover{
                        background-color: #000000;
                    }
                }
            }
        }
    }

    main{
        section{
            .commonpage{
                display: flex;
                justify-content: center;
                width: 80%;
                margin: 1rem auto 5rem;

                .leftpage{
                    width: 50%;                    
                    .bankingpage{

                        .bannerpage{
                            .banner{
                                background-color: #F8F8F8;
                                border-radius: 5px;
                                padding: 5rem;
                                box-shadow: 10px 10px 33px 0 rgba(0,0,0,.15);

                                .bannerimg{
                                    width: 100%;
                                    height: 250px;


                                    img{
                                        width: 100%;
                                        box-shadow: 10px 10px 33px 0 rgba(0,0,0,.15);
                                        border-radius: 5px;
                                    }
                                }

                                .context{
                                    margin-top: 2rem;
                                    height: 200px;

                                    h4{
                                        color: #3E3E3E;
                                        font-size: 20px;
                                        font-family: boldpro;
                                    }

                                    p{
                                        color: #9B9B9B;
                                        font-size: 16px;
                                        font-family: regularpro;
                                    }
                                }
                            }
                        }
                    }

                    .changer{
                        background-color: #F8F8F8;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        padding-bottom: 5rem;

                        span{
                            padding: 8px;
                            background-color: rgba(175,168,168,.55);
                            border-radius: 100%;
                            margin: 0 0.1rem;
                            cursor: pointer;
                        }
                    }
                }

                .rightpage{
                    width: 50%;
                    background-color: #FFFFFF;
                    border-radius: 5px;
                    padding: 5rem 3rem;

                    h3{
                        span{
                            font-size: 18px;
                            color: #3F3F3F;
                            font-family: boldpro;
                        }

                        a{
                            text-decoration: none;
                            font-size: 18px;
                            color: #000000;
                            font-family: semiboldpro;
                            border-bottom: 1px solid #000000;
                        }
                    }

                    .logparams{
                        display: flex;
                        justify-content: space-between;

                        .left{
                            width: 100%;

                            img{
                                width: 100%;
                            }
                        }

                        .right{
                            padding: 1rem 0;

                            button{
                                display: block;
                                width: 100%;
                                height: 60px;
                                margin: 1rem 0;
                                background-color: transparent;
                                border-radius: 5px;
                                border: 1px solid rgba(0,0,0,.3);

                                i{
                                    font-size: 24px;
                                    margin-right: 1rem;
                                    color: #7C7C7C;
                                }

                                span{
                                    font-size: 18px;
                                    color: #000000;
                                    font-family: regularpro;
                                }
                            }
                        }
                    }

                    p{
                        margin-top: 1rem;
                        padding: 5px 20px;
                        background-color: #F3F3F3;

                        i{
                            margin-right: 10px;
                            color: #808080;
                            cursor: pointer;
                        }

                        
                        span{
                            font-size: 16px;
                            font-family: regularpro;
                            color: #808080;
                        }
                    }

                    form{
                        position: relative;
                        margin-top: 2rem;

                        input{
                            width: 100%;
                            outline-style: none;
                            font-size: 18px;
                            color: #6F6F6F;
                            font-family: regularpro;
                            border: none;
                            padding: 0.5rem 3rem;
                            border-bottom: 1px solid rgba(0,0,0,.3);
                        }

                        span{
                            font-size: 14px;
                            font-family: regularpro;
                            margin-left: 2rem;
                            color: #FF6400;
                        }

                        .code{
                            width: 50%;
                            padding: 0.3rem 4rem;
                            position: absolute;
                            top: 100%;
                            left: 0;
                        }

                        .user{
                            position: absolute;
                            top: 25%;
                            left: 2%;
                            font-size: 22px;
                            color: #808080;
                        }

                        .warning{
                            position: absolute;
                            top: 25%;
                            left: 95%;
                            font-size: 22px;
                            color: #808080;
                        }

                        .lock{
                            position: absolute;
                            top: 67%;
                            left: 2%;
                            font-size: 22px;
                            color: #808080;
                        }

                        .pin{
                            position: absolute;
                            top: 105%;
                            left: 0;
                            z-index: 1;
                        }

                        a{
                            font-size: 14px;
                            color: #808080;
                            position: absolute;
                            top: 110%;
                            left: 73%;
                        }

                        button{
                            width: 100%;
                            background-color: #FF6400;
                            padding: 0.6rem;
                            border-radius: 5px;
                            border: 1px solid #FF6400;
                            position: absolute;
                            top: 145%;
                            left: 0;
                            text-align: start;

                            .enterance{
                                color: #FFFFFF;
                                font-size: 20px;
                                font-family: regularpro;
                            }

                            i{
                                color: #FFFFFF;
                                font-size: 20px;
                                position: absolute;
                                top: 30%;
                                left: 90%;
                            }
        
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    header{
        width: 90% !important;
    }

    main{
        section{
            .commonpage{
                width: 90% !important;

                .leftpage{
                    .bankingpage{
                        .bannerpage{
                            .banner{
                                padding: 5rem 2rem !important;

                                .bannerimg{
                                    height: 150px !important;
                                }

                                .context{
                                    h4{
                                        font-size: 16px !important;
                                    }

                                    p{
                                        font-size: 14px !important;
                                    }
                                }
                            }
                        }
                    }
                }

                .rightpage{
                    padding: 5rem 1rem !important;

                    h3{
                        span{
                            font-size: 14px !important;
                        }

                        a{
                            font-size: 14px !important;
                        }
                    }

                    .logparams{
                        .left{
                            width: 100% !important;

                            img{
                                width: 120% !important;
                            }
                        }

                        .right{
                            padding: 0.5rem 0 !important;

                            button{
                                height: 40px !important;
                                margin: 0.5rem !important;

                                i{
                                    font-size: 18px !important;
                                    margin-right: 0.5rem !important;
                                }

                                span{
                                    font-size: 14px !important;
                                }
                            }
                        }

                    }

                    p{
                        padding: 5px !important;

                        i{
                            margin-right: 5px !important;
                        }

                        span{
                            font-size: 11px !important;
                        }
                    }

                    form{
                        margin-top: 1rem !important;

                        span{
                            font-size: 12px !important;
                        }

                        input{
                            font-size: 14px !important;
                        }

                        .code{
                            width: 60% !important;
                        }

                        .user{
                            font-size: 18px !important;
                        }

                        .warning{
                            font-size: 18px !important;
                            left: 92% !important;
                        }

                        .lock{
                            font-size: 18px !important;
                        }

                        a{
                            font-size: 12px !important;
                            top: 105% !important;
                            text-align: center;
                        }

                        button{
                            width: 150px !important;
                            margin-left: 2.2rem !important;
                            margin-top: 1rem !important;

                            .enterance{
                                font-size: 14px !important;
                            }
                            
                            i{
                                font-size: 12px !important;
                                top: 50% !important;
                                transform: translateY(-50%) !important;
                                left: 80% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}